@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}
body,
html {
  font-size: 14px;
  margin: 0;
  font-family: $Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // input:-webkit-autofill,
  // input:-webkit-autofill:hover,
  // input:-webkit-autofill:focus,
  // input:-webkit-autofill:active  {
  //   -webkit-box-shadow: 0 0 0 30px $affirm-pink inset !important;
  // }

  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
}

// Remove annoying outline.
:focus {
  outline: none;
}
