.flex {
  display: flex;
}

.flex-wrap {
  @extend .flex;
  flex-wrap: wrap;
}

.flex-horizontal-center {
  @extend .flex;
  justify-content: center;
}

.flex-vertical-center {
  @extend .flex;
  align-items: center;
}
