@import '../../scss/base.scss';

// Changes color of input placeholder
::placeholder {
  color: #848f96;
}

.credit-card-form {
  background-color: $affirm-dark-pink;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 400px;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

  .credit-card-input {
    height: 35px;
    border-radius: 8px;
    background: $affirm-pink;

    &.half {
      width: calc(50% - 5px);
    }
  }
  .credit-card-button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background: $affirm;
    color: $background;
      &:active {
        background-color: $affirm-darker;
      }
  }

  .error {
    @extend  .m-t-med, .m-l-xxl, .m-r-xxl, .p-t-sm, .p-b-sm;
    border-radius: 3px;
    background: $background;
    // This is to prevent the error from changing the form height.
    margin-bottom: -34.0px;

    .error-message {
      @extend .m-t-none, .m-b-none;
      color: $affirm-salmon;
      font-weight: 500;
      font-size: 12px;
    }

  }
}
