@import './scss/base.scss';

.App-header {
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}
