$background: #ecf0f1;

// $primary: #2980b9;
$primary: #34495e;
$affirm: #1372E5;
$affirm-darker: #0b4286;
$affirm-dark: #1064c9;
$affirm-light: #3588ee;
$affirm-lighter: #78b0f3;
$affirm-secondary: #15A0EA;
$affirm-tertiary: #063A55;
$affirm-green: #77B35D;
$affirm-pink: #F7E1E3;
$affirm-dark-pink: #efc5c9;
$affirm-green-secondary: #669950;
$affirm-dark-blue: #77B35D;
$secondary: #3498db;
// $terciary: #f39c12;
$terciary: #fcd669;
// $terciary: #e67e22;
// $terciary: #f1c40f;

$gray: #bdc3c7;
$white: #ecf0f1;

$alert: #c0392b;
